<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 class="text-white">Angular CRUD</h1>
        <div class="d-flex">
            <button (click)="clickAddEmployee()" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add Employee</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>            
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            <td>
                <button (click)="onEdit(row)" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
            </td>

        </tr>
    </tbody>
</table>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup] = "formValue">
                    <div class="mb-2">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input type="text" formControlName="lastName"  class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1">Email ID</label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1">Mobile No.</label>
                        <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1">Salary</label>
                        <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click) ="postEmployeeDetails()" *ngIf="showAddButton" type="button" class="btn btn-primary">Add</button>
                <button (click) ="updateEmployeeDetails()" *ngIf="showUpdateButton" type="button" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>


